<h1>All tasks</h1>

<ul>
<% @tasks.each do |task| %>
  <li class="list-item"><%= render "checkbox", task: task %><%= link_to task.title, task_path(task.id)%>  <%= link_to sanitize(@trash), task_path(task.id), method: :delete, data: { confirm: "Are you sure?" }%></li>
<% end %>
</ul>

<%= link_to "Add a new task", new_task_path %>

